# ==============================
# Environment Variables
# ==============================
.env
.env.*

# ==============================
# Logs
# ==============================
*.log

# ==============================
# Maven / Build
# ==============================
target/
build/
*.jar
*.war

# ==============================
# IDE Files
# ==============================
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache

.idea/
*.iml

.vscode/

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Node / React
# ==============================
node_modules/
dist/
coverage/