@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-indigo-950 text-white;
  background-image: url('/bg.jpg.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

